body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 1px, rgb(11, 11, 36);
    background-image: url('Images/1991373.png');
    background-size:cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    
}


.header{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

.header_home{
    height: 50px;
    width: 100%;
    position:absolute;
    margin-top: 10px;
    display: flex;
    flex-direction: row;


}
    
.left-nav{
    width: 23.33%;
    text-align: center;
    

}
.logo{
    width: 300px;
}
.middle-nav{
    width: 38.33%;
   

}
.right-nav{
    width: 38.33%;
    display: flex;
    flex-direction: row;
    
}
ul{
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 10px;
    width: 80%;
    margin:10px;
    justify-content: space-between;
    font-size: 20px;
    
}

.ab,li {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.ab2{
    text-decoration: none;
    color:rgb(11, 11, 36);
}
hr {
    border: 2px solid  rgb(5, 5, 69); /* 2px width, solid style, #333 color (dark gray) */
    width: 50%; /* Set the width to 50% of the container */
    margin: 10px auto;
    margin-top: 5px;
    transition: color 0.3s ease;
}
/*LINE BAR HOVER*/
hr:hover {
    border: 1px solid #0CC0DF; /* 2px width, solid style, #333 color (dark gray) */
    width: 100%; /* Set the width to 50% of the container */
    margin-bottom: 10px;
}

.expereience_Name{
    position: absolute;
    color:white;
    font-size: 35px;
    right: 20px;
    bottom: 10px;


}
.expereience_Text{
    font-size: 50px;
    color: rgb(11, 11, 36);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.experience_Description {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    width: 290px;
    text-align: justify;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  
.box1 {
    width: 320px;
    height: 250px;
    background-image: url('Images/CULTURAL/BADAGRY_SLAVE/0_vVcp2YwzDAwi9X3l.jpg');
    background-size:cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    position: relative;
    margin-right: 20px;
    text-align: center;
    border-radius: 9px;

}
.box1:hover .experience_Description {
    display: block;
  }

.box2 {
    width: 320px;
    height: 250px;
    background-image: url('Images/CULTURAL/CATHEDRAL_CHURCH/The_Cathedral_Church_of_Christ_Marina..jpg');
    background-size:cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    position: relative;
    margin-right: 20px;
    text-align: center;
    border-radius: 9px;

}
.box2:hover .experience_Description {
    display: block;
  }

.box3 {
    width: 320px;
    height: 250px;
    background-image: url('Images/CULTURAL/FREEDOM_PARK/Freedom-Park-Lagos-VisitNigeriaNow-1-1-670x440-1.jpg');
    background-size:cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    position: relative;
    margin-right: 20px;
    text-align: center;
    border-radius: 9px;

}
.box3:hover .experience_Description {
    display: block;
  }

.box4 {
    width: 320px;
    height: 250px;
    background-image: url('Images/CULTURAL/KALAKUTA_MUSEUM/Untitled-design-2023-07-27T045748.753_11zon.jpg');
    background-size:cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    position: relative;
    margin-right: 20px;
    text-align: center;
    border-radius: 9px;

}
.box4:hover .experience_Description {
    display: block;
  }

.box5 {
    width: 320px;
    height: 250px;
    background-image: url('Images/CULTURAL/LEKKI_ART_MARKET/_dsc9094241622c.webp');
    background-size:cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    position: relative;
    margin-right: 20px;
    text-align: center;
    border-radius: 9px;

}
.box5:hover .experience_Description {
    display: block;
  }

.box6 {
    width: 320px;
    height: 250px;
    background-image: url('Images/CULTURAL/NIKE/Outside_Nike_Art_Gallery_\(4202980259\).jpg');
    background-size:cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    position: relative;
    margin-right: 20px;
    text-align: center;
    border-radius: 9px;

}
.box6:hover .experience_Description {
    display: block;
  }

.Box-details{
    position: absolute;
    background-color: rgba(32, 31, 31, 0.327);
    color: white;
    top: 87%;
    width: 290px;
    left: 50%;
    border: 2px solid rgb(255, 255, 255); /* Add border */
    transform: translate(-50%, -50%);
    border-radius: 4px;

}
.container h3 {
    margin: 4px;
    color: rgb(255, 255, 255);
   
}
.Checkout{
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 100px;
    border-radius: 6px;
  }

.box label {
    display: block;
    color: white;
}

@media (max-width: 768px) {
    .body {
        max-width: 90%;
    }
}
@media (max-width: 576px) {
    .body  {
        max-width: 95%;
    }
}